# A. Install Great Expectation Package

In [1]:
# # Install the library

# !pip install -q "great-expectations==0.18.19"

In [2]:
import pandas as pd
import great_expectations as gx
from great_expectations.data_context import get_context

# B. Data Loading

In [3]:
# Load Data
df = pd.read_csv(r"C:\Users\luthf\OneDrive\Documents\FTDS_P2\p2-ftds030-hck-m3-upilup\dags\P2M3_Muhammad_Luthfi_Alfatih_data_transformed.csv", parse_dates=['date', 'time'])
pd.concat([df.head(), df.tail()])

,hour_of_day,cash_type,money,coffee_name,time_of_day,weekday,month_name,weekdaysort,monthsort,date,time,transaction_id
0,10,card,38.70,Latte,Morning,Fri,Mar,5,3,2024-03-01,2025-09-01 10:15:50,2024-03-01_10:15:50_Latte
1,12,card,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,2025-09-01 12:19:22,2024-03-01_12:19:22_Hot Chocolate
2,12,card,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,2025-09-01 12:20:18,2024-03-01_12:20:18_Hot Chocolate
3,13,card,28.90,Americano,Afternoon,Fri,Mar,5,3,2024-03-01,2025-09-01 13:46:33,2024-03-01_13:46:33_Americano
4,13,card,38.70,Latte,Afternoon,Fri,Mar,5,3,2024-03-01,2025-09-01 13:48:14,2024-03-01_13:48:14_Latte
3542,10,card,35.76,Cappuccino,Morning,Sun,Mar,7,3,2025-03-23,2025-09-01 10:34:54,2025-03-23_10:34:54_Cappuccino
3543,14,card,35.76,Cocoa,Afternoon,Sun,Mar,7,3,2025-03-23,2025-09-01 14:43:37,2025-03-23_14:43:37_Cocoa
3544,14,card,35.76,Cocoa,Afternoon,Sun,Mar,7,3,2025-03-23,2025-09-01 14:44:16,2025-03-23_14:44:16_Cocoa
3545,15,card,25.96,Americano,Afternoon,Sun,Mar,7,3,2025-03-23,2025-09-01 15:47:28,2025-03-23_15:47:28_Americano
3546,18,card,35.76,Latte,Night,Sun,Mar,7,3,2025-03-23,2025-09-01 18:11:38,2025-03-23_18:11:38_Latte

In [4]:
display(df.info())
display(df.describe())
print("Unique Values:")
display(df.nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3547 entries, 0 to 3546
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   hour_of_day     3547 non-null   int64
 1   cash_type       3547 non-null   object
 2   money           3547 non-null   float64
 3   coffee_name     3547 non-null   object
 4   time_of_day     3547 non-null   object
 5   weekday         3547 non-null   object
 6   month_name      3547 non-null   object
 7   weekdaysort     3547 non-null   int64
 8   monthsort       3547 non-null   int64
 9   date            3547 non-null   datetime64[ns]
 10  time            3547 non-null   datetime64[ns]
 11  transaction_id  3547 non-null   object
dtypes: datetime64[ns](2), float64(1), int64(3), object(6)
memory usage: 332.7+ KB

None

,hour_of_day,money,weekdaysort,monthsort,date,time
count,3547.000000,3547.000000,3547.000000,3547.000000,3547,3547
mean,14.185791,31.645216,3.845785,6.453905,2024-10-04 17:34:43.676346368,2025-09-01 14:39:40.621933824
min,6.000000,18.120000,1.000000,1.000000,2024-03-01 00:00:00,2025-09-01 06:50:04
25%,10.000000,27.920000,2.000000,3.000000,2024-07-17 12:00:00,2025-09-01 10:55:31
50%,14.000000,32.820000,4.000000,7.000000,2024-10-10 00:00:00,2025-09-01 14:29:43
75%,18.000000,35.760000,6.000000,10.000000,2025-01-11 00:00:00,2025-09-01 18:10:04.500000
max,22.000000,38.700000,7.000000,12.000000,2025-03-23 00:00:00,2025-09-01 22:59:18
std,4.234010,4.877754,1.971501,3.500754,NaN,NaN

Unique Values:

hour_of_day         17
cash_type            1
money               13
coffee_name          8
time_of_day          3
weekday              7
month_name          12
weekdaysort          7
monthsort           12
date               381
time              3420
transaction_id    3547
dtype: int64

# C. Create an Expectation Suite
- Sebuah `Expectation Suite` adalah kumpulan aturan atau pernyataan yang bisa diverifikasi terhadap data. Expectation Suite menggabungkan beberapa Expectation untuk membentuk deskripsi menyeluruh mengenai data.
- Nama `Expectation Suite` bisa dibuat sesuai kebutuhan, dengan syarat harus unik dalam satu project.
- Untuk membuatnya, kita akan menggunakan Validator agar dapat berinteraksi dengan batch data dan menghasilkan sebuah `Expectation Suite`.
- Setiap kali kita menjalankan sebuah Expectation dengan `validator.expect_*`, aturan tersebut langsung divalidasi terhadap data yang digunakan.

In [5]:
# Creat an expectation suite
expectation_suite_name = 'coffee_sales'
context = get_context()
context.add_or_update_expectation_suite(expectation_suite_name)

# Give a name to a Datasource. This name must be unique between Datasources.
datasource_name = 'coffee_sales'
datasource = context.sources.add_pandas(datasource_name)

# Give a name to a data asset
asset_name = 'coffee_sales'
path_to_data = r'C:\Users\luthf\OneDrive\Documents\FTDS_P2\p2-ftds030-hck-m3-upilup\dags\P2M3_Muhammad_Luthfi_Alfatih_data_transformed.csv'
asset = datasource.add_csv_asset(asset_name, filepath_or_buffer=path_to_data)

# Build batch request
batch_request = asset.build_batch_request()

# Create a validator using above expectation suite
validator = context.get_validator(
    batch_request = batch_request,
    expectation_suite_name = expectation_suite_name
)

# Check the validator
validator.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,hour_of_day,cash_type,money,coffee_name,time_of_day,weekday,month_name,weekdaysort,monthsort,date,time,transaction_id
0,10,card,38.7,Latte,Morning,Fri,Mar,5,3,2024-03-01,10:15:50,2024-03-01_10:15:50_Latte
1,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:19:22,2024-03-01_12:19:22_Hot Chocolate
2,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:20:18,2024-03-01_12:20:18_Hot Chocolate
3,13,card,28.9,Americano,Afternoon,Fri,Mar,5,3,2024-03-01,13:46:33,2024-03-01_13:46:33_Americano
4,13,card,38.7,Latte,Afternoon,Fri,Mar,5,3,2024-03-01,13:48:14,2024-03-01_13:48:14_Latte

# D. Expectation
Setelah `Expectation Suite` dibuat, tahap berikutnya adalah mendefinisikan beberapa Expectation untuk memastikan kualitas data. Expectation ini berfungsi sebagai aturan validasi agar data penjualan kopi memenuhi kriteria yang diharapkan, seperti keunikan ID transaksi, rentang nilai uang, hingga keberadaan kolom tertentu.

In [6]:
# Expectation 1 : Column `transaction_id` to be unique

validator.expect_column_values_to_be_unique(column='transaction_id')

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 3547,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

`validator.expect_column_values_to_be_unique(column='transaction_id')` digunakan untuk memverifikasi bahwa setiap nilai pada kolom `transaction_id` bersifat unik. Hasil validasi menunjukkan **success: true** dengan `unexpected_coun: 0`, artinya tidak ada duplikasi dan seluruh 3.547 baris data memiliki ID transaksi yang unik.

In [7]:
# Expectation 2 : Column `money` to be between min_value and max_value

validator.expect_column_values_to_be_between('money', min_value=0, max_value=40)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 3547,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

`validator.expect_column_values_to_be_between('money', min_value=0, max_value=40)` digunakan untuk memastikan bahwa seluruh nilai pada kolom `money` berada dalam rentang 0 hingga 40. Hasil validasi menunjukkan **success: true** dengan `unexpected_count: 0`, artinya semua 3.547 baris data memenuhi aturan tanpa ada nilai yang keluar dari baris.

In [8]:
# Expectation 3 : Column `month_name` to be in set

validator.expect_column_values_to_be_in_set('month_name', print(df['month_name'].unique()))

['Mar' 'Apr' 'May' 'Jun' 'Jul' 'Aug' 'Sep' 'Oct' 'Nov' 'Dec' 'Jan' 'Feb']

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 3547,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

`validator.expect_column_values_to_be_in_set('month_name', print(df['month_name'].unique()))` digunakan untuk memastikan bahwa nilai pada kolom `month_name` hanya berisi nama bulan yang valid sesuai daftar unik pada dataset. Hasil validasi menunjukkan **success: true** dengan `unexpected_count: 0`, artinya semua 3.547 baris data memiliki nilai bulan yang sesuai dan tidak ada data yang keluar dari set yang ditentukan.

In [9]:
# Expectation 4 : Column `weekday` to be in type list

validator.expect_column_values_to_be_in_type_list('weekday', ['str'])

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 3547,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

`validator.expect_column_values_to_be_in_type_list('weekday', ['str'])` digunakan untuk memastikan bahwa semua nilai pada kolom `weekday` bertipe string. Hasil validasi menunjukkan **success: true** dengan `unexpected_count: 0`, artinya seluruh 3.547 baris data sudah sesuai tipe yang diharapkan tanpa ada nilai yang salah tipe.

In [10]:
# Expectation 5 : Column `time` to be not null

validator.expect_column_values_to_not_be_null('time')

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 3547,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

`validator.expect_column_values_to_not_be_null('time')` digunakan untuk memastikan bahwa kolom `time` tidak memiliki nilai kosong. Hasil validasi menunjukkan **success: true** dengan `unexpected_count: 0`, artinya seluruh 3.547 baris data memiliki nilai yang lengkap tanpa ada yang null.

In [11]:
# Expectation 6 : Column `hour_of_day` to be exist

validator.expect_column_to_exist('hour_of_day')

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "success": true,
  "result": {},
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

`validator.expect_column_to_exist('hour_of_day')` digunakan untuk memverifikasi bahwa kolom `hour_of_day` tersedia dalam dataset. Hasil validasi menunjukkan **success: true**, artinya kolom tersebut memang ada dan bisa diugnakan untuk analisa lebih lanjut.

In [12]:
# Expectation 7 : Expected columns in a ordered list

validator.expect_table_columns_to_match_ordered_list(column_list=df.columns)

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": [
      "hour_of_day",
      "cash_type",
      "money",
      "coffee_name",
      "time_of_day",
      "weekday",
      "month_name",
      "weekdaysort",
      "monthsort",
      "date",
      "time",
      "transaction_id"
    ]
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

`validator.expect_table_columns_to_match_ordered_list(column_list=df.columns)` digunakan untuk memastikan bahwa struktur tabel memiliki urutan kolom sesuai dengan daftar yang diharapkan. Hasil validasi menujukkan **success: true** dengan daftar kolom yang sesuai. Artinya, semua kolom sudah lengkap dan berurutan sesuai spesifikasi dataset.

# E. Save Suite to Context
Bagian ini digunakan untuk menyimpan seluruh `Expectation Suite` yang sudah dibuat ke dalam `context`. Dengan begitu, suite bisa dipanggil kembali atau dijalankan ulang di tahap selanjutnya.

In [13]:
# Save suite to context
validator.save_expectation_suite(discard_failed_expectations=False)

`Checkpoint` dibuat untuk menghubungkan `Expectation Suite` dengan batch data tertentu.<br>
Fungsinya adalah sebagai titik eksekusi validasi data yang dapat dijalankan kapan saja.

In [14]:
# Create a checkpoint

checkpoint_1 = context.add_or_update_checkpoint(
    name = 'checkpoint_1',
    validator = validator,
)

Pada tahap ini, `checkpoint` dijalankan untuk mengeksekusi seluruh `Expectation` terhadap dataset.<br>
Hasil `checkpoint` akan memberikan ringkasan validasi sesuai aturan yang telah ditentukan.

In [15]:
# Run a checkpoint

checkpoint_result = checkpoint_1.run()

Calculating Metrics:   0%|          | 0/36 [00:00<?, ?it/s]